
*, *:before, *:after {
    box-sizing: border-box;
}

.grid {
    width: 100%;

}

.row {
    margin-bottom: 1em;
}

.grid, .row, [class*="-col"] {
    padding: 0;
    margin: 0;
}

.grid:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
  margin-bottom: 1em;
}

.row:last-child {
  margin-bottom: 0;
}

[class*="-col"] {
  float: left;
  margin-right: 1.5%;
}

[class*="-col"]:last-child {
    margin-right: 0;
}

.one-col {
  width: 6.958%;
}

.two-col {
  width: 15.41%;
}

.three-col {
  width: 23%;
  margin: 0% 1%;
  height: 5%;
  padding: 0;
}

.four-col {
  width: 32.33%;
}

.five-col {
  width: 40.79%;
}

.six-col {
  width: 49.25%;
}

.seven-col {
  width: 60%;
  margin: 0% 3.5%;
}

.eight-col {
  width: 66%;
}

.nine-col {
  width: 73%;
}

.ten-col {
  width: 83.08%;
}

.eleven-col {
  width: 91.54%;
}

.twelve-col {
  width: 100%;
}

/* Coloring Code 

.grid {
    background-color: #999;
}

.row {
    background-color: #BBB;
}

*/
[class*="-col"] {
    background-color: #EEE;
}

.one-offset {
  margin-left: 8.458%;
}

.two-offset {
  margin-left: 16.91%;
}

.three-offset {
  margin-left: 25.37%;
}

.four-offset {
  margin-left: 33.83%;
}

.five-offset {
  margin-left: 42.29%;
}

.six-offset {
  margin-left: 50.75%;
}

.seven-offset {
  margin-left: 59.20%;
}

.eight-offset {
  margin-left: 67.66%;
}

.nine-offset {
  margin-left: 76.12%;
}

.ten-offset {
  margin-left: 84.58%;
}

.eleven-offset {
  margin-left: 91.54%;
}

@media all and (max-width: 768px) {
  [class*="-col"] {
    width: 100%;
    margin-bottom: 1em;
  }

  .row:last-child > [class*="-col"]:last-child {
    margin-bottom: 0;
  }

  [class*="-offset"] {
    margin-left: 0;
  }

  .row {
    margin: 0;
  }
}

/* nav bar */ 

.nav {
  position: fixed;
  z-index: 10;
  background-color: rgba(95,118,133,0.8);
  width: 100%;
  text-transform: uppercase;
  top: 0;
}

.logo {
  width: 60px;
  height: 50px;
  vertical-align: middle;
  display: inline;
}

.share_options {
  display: inline;
  float: right;
  overflow: none;
  margin: 20px
}

.share_options>li {
  width: 100%;
  display: inline;
  text-decoration: none;
  margin: 0.5em;
}


.share_options_footer {
  display: inline;
  float: right;
  overflow: none;
  margin: 20px
}

.share_options_footer>li {
  width: 100%;
  display: inline;
  text-decoration: none;
  margin: 0.5em;
}

/*end of nav bar */ 

/* Overall styling rules */ 

body {
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid {
  margin-top: 5em;
}


h2 {
  font-weight: bolder;
}

h3 {
  font-weight: bolder;
}


/* Menu / left hand column */ 


#heading p {
    margin: 0;
    padding: 16px 0;
    background-color: #fff200;
}

.arrow, .card {
    display:  inline-block;
}

.arrow {
    width:  20%;
    text-decoration: none;
    padding: 0 16px;
}

#right_arrow {
  text-align: right;
}

.card {
    width: 59%;
    text-align: center;
    color: #5e605f;
    text-transform: uppercase;
}

.explainer {
  height: 220px;
  width: 270px;
  margin: 0;
  padding: 5% 8%;
  background-color: #fff200;
}

.menu {
  background-color: #4c4e4d;
  color: grey;
  padding: 2% 5%;
  line-height: 2em;
  overflow: scroll;
}

li:active {
  color: yellow;
}

li:hover {
  color: rgba(95,118,133,0.8);
}

.title {
  text-transform: uppercase;
  line-height: 0;
  font-size: 12px;
}

time {
  font-size: 12px;
}


/* Content */ 


.nine-col>p {
  display: inline;
}


.moon {
  width: 40%;
  height: 40%;
  margin: 0.5em;
  border: 3px line black;
  min-width: 160px;
  min-height: 160px;
  max-height: 220px;
  max-width: 220px;
  float: right;
}


/* Footer */ 

.share_options {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.share_options_footer {
  color: #5e605f;
  margin: 0 auto;
  width: 50em;
}

.content {
  color: #5e605f;
  background-color: white;
  padding: 2% 10%;
}

.footer {
  width: 100%;
  float: none;
}